<div class="main">
	<div class="top-nav">
		<div class="mask-img"></div>
		<%= image_tag "course_exp.png", class: "header-img" %>
	</div>
	<h2>Course Title</h2>
	
	<div class="container nodes">
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<!-- <img src="http://fakeimg.pl/150x150/" class="circle"> -->
		<!-- <img src="http://fakeimg.pl/150x150/" class="circle"> -->
		<!-- <img src="http://fakeimg.pl/150x150/" class="circle"> -->
	</div>

</div>
