<div class="main">
	
	<h1>自體淬煉，逆流無畏</h1>
	
	<!-- <div class="container nodes">
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
	</div> -->

	<%= check @is_attend %>

</div>
