<div class="description">
	<h1>自體淬煉，逆流無畏</h1>
</div>

<div class="description-text">
	<p>四週培訓，備齊在原始戶外的生存體能與技能<br/>
	   兩場溪流探險，重新認識台灣自然原始面貌。</p>

	<p>「溯溪」一詞源於日本，沢登り，逆流而上的技<br/>術攀登之意。
	培訓課程由專業教練設計，以TRX®<br/>鍛鍊溯溪必備肌力。
	給追求卓越的你；尋覓刺激冒<br/>險的你；想要擺脫一陳不變的你。</p>

	<p>由外而內，Donchi帶你感受極緻、重拾新生活態度。</p>
</div>
<div class="main">
	
	<!-- <div class="container nodes">
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
	</div> -->

	<%= check @is_attend %>

</div>
