<div class="main">
	<div class="top-nav">
		<%= image_tag "background/workout.png", class: 'header-img' %>
	</div>
	<h1>自體淬煉，逆流無畏</h1>
	
	<div class="container nodes">
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<div class="circle">
			<img src="http://fakeimg.pl/150x150/">
		</div>
		<!-- <img src="http://fakeimg.pl/150x150/" class="circle"> -->
		<!-- <img src="http://fakeimg.pl/150x150/" class="circle"> -->
		<!-- <img src="http://fakeimg.pl/150x150/" class="circle"> -->
	</div>

	<div class="container enroll">
		<%= link_to "我要報名", "#" %>
	</div>

</div>
