<div class="description">
	<h1>自體淬煉，逆流無畏</h1>
</div>

<div class="description-text">
	<p>四週培訓，備齊在原始戶外的生存體能與技能<br/>
	   兩場溪流探險，重新認識台灣自然原始面貌。</p>

	<p>「溯溪」一詞源於日本，沢登り，逆流而上的技<br/>術攀登之意。
	培訓課程由專業教練設計，以TRX®<br/>鍛鍊溯溪必備肌力。
	給追求卓越的你；尋覓刺激冒<br/>險的你；想要擺脫一陳不變的你。</p>

	<p>由外而內，Donchi帶你感受極緻、重拾新生活態度。</p>
</div>
<div class="main">

	<div class="lesson">
		<h2>第一堂：神一般的隊友 <span>10:30~11:30</span></h2>
		<p>相見歡，認識接下來三週訓練的隊友、溯溪的戰友。本堂課也提供體適能測試。 </p>
	</div>
	
	<div class="lesson">
		<h2>第二堂：地形征服力1h <span>一梯10:30/二梯14:00</span></h2>
		<p>全身訓練，包含核心肌群訓練與身體協調、重心移轉之練習。激發反應本能，讓身體自覺征服各種戶外地形，成為貨真價實的「真野人」。 </p>
	</div>

	<div class="lesson">
		<h2>第三堂：手腳並用的手1.5h <span>一梯10:30/二梯14:00</span></h2>
		<p>上半身訓練。只靠腿是不夠的。鍛鍊上身攀爬臂力、負重耐力，讓身體在山野中移動的更加快速自如。</p>
	</div>
	

	<div class="lesson">
		<h2>第四堂：石縫跳躍鍛鍊1.5h <span>一梯10:30/二梯14:00</span></h2>
	<p>鍛鍊腿部爆發力。當下肢敏捷，跳躍在山野溪谷中毫不腳軟，挑戰更多，溯溪更有趣。</p>
	</div>

	<div class="lesson">
		<h2>瑪鋉溪挑戰 <span>預估9:00~16:00</span></h2>
		<p>來到台北都會後山的避暑勝地-瑪鋉溪！短短的距離內，六個深潭瀑布接連不斷，讓挑戰者享用各種攀登技巧，各種泳渡姿勢。而最終的爬木大賽，誰會是最後贏家?</p>
	</div>
	<div class="lesson">
		<h2>半屏溪挑戰 <span>預估9:00~16:00</span></h2>
		<p>半屏溪位於東北角，是少數在北部地區可以一日從海邊直接溯源到山區的溪流。水質特別清澈，溪蝦特多，在這享受到毫無人為痕跡的野外。在這彷彿人間仙境的郊溪挑戰，讓六周札實的訓練劃下冒險的里程碑！</p>
	</div>
</div>

<div class="aside">
	<%= image_tag 'background/course-aside.png' %>
</div>

<h1 class="advertise">+ 市值1000元運動經絡按摩券</h1>

<div class="coach-info">
	<h1 class="title">教練們</h1>
	<div class="coach right">
		<div class="circle"></div>
		<div class="info">
			<h1>林瀚哲 教練（黑哲）</h1>
			<p>專長：增肌訓練、有氧減脂
			<br/>YMCA國際體適能指導員
			<br/>IPTFA國際康體私人教練證照
			<br/>AFAA-WA國際重量訓練指導員</p>
		</div>
	</div>
	<div class="coach left">
		<div class="info">
			<h1>王耀邦 教練（Ian）</h1>
			<p>專長:激流救生、游泳訓練
			<br/>美國RESCUE3-SRT LEVEL 1
			<br/>中華民國水上救生協會-救生教練
			<br/>中華民國溯溪協會-C級指導員</p>
		</div>
		<div class="circle"></div>
	</div>
</div>

<div class="price-info">
	<h1>四周訓練，兩次溯溪挑戰，一次經絡按摩</h1>
	<div class="block left">
		<span class="price delete">8,300</span>
		<span class="price">7,999</span>
		<p>單人報名</p>
	</div>
	<div class="block right">
		<span class="price delete">7,830</span>
		<span class="price">7,499</span>
		<p>雙人報名</p>
	</div>
</div>

<%= check @is_attend %>

<div class="notification">
	<p>
【注意事項】<br/>
1. 主辦單位保留課程內容更動權利。若天氣因素，開課單位保留延後開課權益。<br/>
2. 主辦單位會將電子票券或憑證寄發至您提供的email，請確認填寫資訊正確<br/>
3. 本系列活動需預定場地及相關設備，系列課程第一堂開課前七個工作天即不能接受取消或退費<br/>
4. 其他未盡周全事宜，請依主辦單位公告及場地規則為依據<br/>
5. 若有任何問題，歡迎來信：donchicoach@gmail.com</p>
</div>