/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
@import "bootstrap-sprockets";
@import "bootstrap";


* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Merriweather-Light, Georgia, serif;
	font-size: 18px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

header {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 60px;
	background-color: black;
	vertical-align: center;
}

.login {
	position: relative;
	top: 15px;
	right: 3%;
	width: 70px;
	height: 34px;
	/*background-color: white;
    box-shadow: 2px 2px 0px #666;*/
    text-align: center;
    border-radius: 4px;
}

.button	 {
	padding: 1px;
}

.login a{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.slide {
	overflow: hidden;
	max-height: 450px;
	height: 30%;
}

.slide img {
	height: 100%;
}

.slogan {
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left: -180px;
	text-align: center;
	color: white;
	z-index: 3;
	text-shadow: 1px 1px black;
}

.search-box {
	background-color: white;
	position: absolute;
	margin-left: -225px;
	left: 50%;
	top: 250px;
	width: 450px;
	height: 40px;
	border-radius: 3px;
	z-index: 3;
}

.search-box input {
	position: relative;
	border: none;
	outline: none;
	top: 8px;
	left: 18px;
	margin-left: 0;
	width: 90%;
	/*font-size: 18px;*/
}

.subtitle {
	text-align: center;
	padding: 15px 0;
}

.mask {
	width: 100%;
	height: 400px;
	position: absolute;
	background-color: rgba(0, 0, 0 ,0.2);
	z-index: 2;
}

.picture_box {
	height: 400px;
}

.caroushow {
	width: 100%;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	margin: auto;
}


@media screen and (min-width: 768px) and (max-width: 991px) {

    .block > div:nth-child(7) {
    	display: none;
	}

	.block > div:nth-child(8) {
		display: none;
	}

}

div span {
	font-family: donchi;
	color: #00C3FC;
}

div span.teacher {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	display: block;
}

.black {
	float: left;
	/*border: 1px dotted black;*/
	background-color: white;
	max-width: 250px;
	min-height: 230px;
	overflow: hidden;
}

.black img {
	height: 144px;
}

footer {
	padding: 15px;
	width: 100%;
	height: 80px;
	background-color: black;
	color: white;
	text-align: center;
}
