// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "centre";
$block-margin-bottom: 4em;

body {
	// min-height: 800px;
	max-width: 1024;
	background-image: image-url("background/workout.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

footer {
	position: absolute;
	bottom: 0;
}

.description {
	box-sizing: border-box;
	margin-top: 12em;
	text-align: right;

	h1 {
		font-size: 2.5rem;
		margin-right: 5%;
		color: #CCCC77;
		font-weight: bold;
	}

}

.description-text {
	text-align: right;
	color: white;
	padding-left: 50%;
	padding-right: 7%;
	p {
		margin-top: 1em;
		font-size: 1.1rem;
	}
}

.main {
	font-family: sans-serif;

	// width: 40%;
	// background-color: black;

	
	.top-nav {
		// background-color: gray;
		text-align: center;
		.header-img {
			width: 700px;
			margin: 0 auto;
			&:after {
				content: "";
			}
		}
	}

	.nodes {
		display: block;
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: justify;
		&:after {
	  		content: "";
			display: inline-block;
			width: 100%;
	  	}
	}

	.circle {
	  overflow: hidden;
	  display: block;
	  width: 150px;
	  height: 150px;
	  -webkit-border-radius: 99em;
	  -moz-border-radius: 99em;
	  border-radius: 99em;
	  border: 5px solid #eee;
	  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3); 
	 
	}

	.enroll {
		text-align: center;
		position: relative;
		bottom: 0;
		a {
			display: inline-block;
			padding: 0.25em 0.75em;
			margin-top: 60%;
			width: 12em;
			font-size: 1.5rem;
			color: white;
			background-color: #FF4963;
		}
	}
}