@import "centre";

.login-form {
	font-family: sans-serif;
	background-image: image_url("background/background_3.png");
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	@include centre(both);
	min-width: 600px;
	max-width: 800px;
	min-height: 600px;
	width: 70%;
	height: 60vw;
	border-radius: 4%;
	text-align: center;
	span {
		color: black;
	}
	a.login-anchor {
		line-height: 2em;
		// display: block;
		color: #666666;
		text-decoration: none;
	}

	form {
		position: relative;

		h1 {
			color: #333333;
			margin-top: 15%;
			margin-bottom: 8%;
			font-weight: 900;
			font-family: sans-serif;
		}

		input {
			&[type="email"],
			&[type="password"] {
				font-size: 20px;
				font-weight: lighter;
				min-width: 400px;
				width: 45%;
				border-radius: 9%/100%;
				padding: 0.35em 1em;
				margin: 0.5em;
			}
			text-align: center;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
						0 0 4px rgba(0, 0, 0, 0.1) inset;
			&:before, &:after {
				content: "";
				box-shadow: 0px 0px 20px rgba(0,0,0,.8);
			}
			&:focus {
				outline: none;
			}
		}

		input[type="submit"] {
			width: 20%;
			padding: 0.5em 0.8em;
			margin: 1.5em auto;
			border-radius: 20%/100%;
			background-color: #FF9933;
			font-size: 0.8em;
			font-weight: 900;
			color: white;
		}
		width: 100%;
		// height: inherit;
		text-align: center;
		vertical-align: center;
	}

}


.login-background {
	// background-image: image_url('background/background_2.png'); 
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center center;
	width: 100%;
	height: 100vh;

	.icon {
		position: absolute;
		width: 200px;
		height: 80px;
	}
	.close {
		color: white;
		font: 14px/100% arial, sans-serif;
		position: absolute;
		right: 2em;
		text-decoration: none;
		text-shadow: 0 1px 0 #fff;
		top: 2.5em;
		&:after {
			content: '×';
			font-size: 6em;
		}
	}
}

@media screen and (max-height: 768px ) {
	.login-form {
		min-width: 0px;
		min-height: 500px;
		width: 100%;
		form {
			input[type="email"],
			input[type="password"] {
			    min-width: 0px;
			    width: 95%;
			    margin: 0.5em 0;
			}
			input[type="submit"] {
	    		width: 16em;
	    		padding: 0.8em;
	    	}
		}
	}
	.login-background {
		.close { font-size: 10px; }
	}
}

@media screen and (max-width: 420px  ) {
	.login-form {
		min-width: 0px;
		min-height: 500px;
		width: 100%;
		form {
			input[type="email"],
			input[type="password"] {
			    width: 14em;
			    margin: 0.5em 0;
			    border-radius: 2em/100%;
			}
			input[type="submit"] {
	    		width: 16em;
	    		padding: 0.8em;
	    	}
		}
	}
}
